/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


/*--------------------*/

body {
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.2px;
}

._container {
    width: 1000px;
    margin: 0 auto;
}

.main__title {
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
}

.title {
    color: #696363;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 28px;
}


/* ----------tabs-------- */

.tabs__wrapper {
    margin-top: 30px;
    border: 1px solid chocolate;
}

.tabs-nav {
    display: flex;
    justify-content: space-between;
}

.tabs-nav__item {
    font-size: 24px;
    padding: 20px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    flex: 1;
}

.tabs-nav__item.is-active {
    background: #d1c6c6;
    color: #aa3496;
    border-color: #363683;
}

.tab {
    font-size: 16px;
    background: #f2f2f2;
    display: none;
    padding: 20px;
    text-align: center;
}

.tab.is-active {
    display: block;
}


/* -------------accordeon-------------- */

.accordeon {
    margin-top: 50px;
}

.accordeon__item {
    border: 1px solid #8d8282;
    border-radius: 5px;
}

.accordeon__header {
    color: #aa3496;
    padding: 20px;
    background-color: #d1c6c6;
    cursor: pointer;
    user-select: none;
}

.accordeon__header:hover {
    background-color: #e4cfcf;
}

.accordeon__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in;
}

.accordeon__body>* {
    padding: 20px;
    margin: 0;
    display: block;
}


/* -----------slider----------  */

.slider {
    padding-bottom: 50px;
}

.slider__body {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}

.infinity-slider {
    cursor: pointer;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.infinity-slider img {
    width: 300px;
    height: 300px;
    position: absolute;
    opacity: 1;
    transition: all ease 0.5s;
}

.infinity-slider .opacity0 {
    opacity: 0;
}

.slider__wrap {
    display: flex;
    align-items: center;
}

.slider__btn-left {
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 220px;
    height: 180px;
    background: url('../img/left.png') no-repeat;
    background-size: contain;
    cursor: pointer;
}

.slider__btn-right {
    display: flex;
    align-items: center;
    margin-right: 30px;
    width: 220px;
    height: 180px;
    background: url('../img/right.png') no-repeat;
    background-size: contain;
    cursor: pointer;
}